@model List<RazorWeb.Models.Cliente>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<br />
<br />
<dl class="row">
    @if (Model != null)
    {
        @foreach (var item in Model)
        {

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => item.ClienteId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.ClienteId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => item.Nome)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.Nome)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => item.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.Email)
            </dd>


            <h4>Logradouros</h4>

            for (int i = 0; i < item.Logradouros.Count(); i++)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => item.Logradouros[i].NomeRua)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => item.Logradouros[i].NomeRua)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => item.Logradouros[i].Numero)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => item.Logradouros[i].Numero)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => item.Logradouros[i].Bairro)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => item.Logradouros[i].Bairro)
                </dd>
            }
        }
    }
</dl>

@* <table class="table">
    <thead>
        <tr>
            @foreach (var item in Model)
            {
                <th>
                    @Html.DisplayNameFor(model => item.ClienteId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => item.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => item.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => item.Logradouros[0].NomeRua)
                </th>
                <th>
                    @Html.DisplayNameFor(model => item.Logradouros[0].Numero)
                </th>
                <th>
                    @Html.DisplayNameFor(model => item.Logradouros[0].Bairro)
                </th>
                <th></th>
            }
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClienteId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                @if (item.Logradouros.Count() > 0)
                {
                    for (int i = 0; i < item.Logradouros.Count(); i++)
                    {

                        <td>
                            @Html.DisplayFor(modelItem => item.Logradouros[i].NomeRua);
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Logradouros[i].Numero);
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Logradouros[i].Bairro);
                        </td>
                    }

                }
            </tr>
        }
    </tbody>
</table> *@

<div>
         @* @Html.ActionLink("Edit", "Edit", new { id = Model })  *@
        <a asp-action="Index">Back to List</a>
</div>
