@model List<RazorWeb.Models.Cliente>

@{
    ViewData["Title"] = "Editar";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>


<h1>Edit</h1>

<h4>Cliente</h4>
<hr />
<div class="row">

    <div class="col-md-4">
        <form asp-action="Edit" id="edicao" enctype="multipart/form-data">
            @* @using (Html.BeginForm("Editar", "Clientes", FormMethod.Post)) *@
            @* { *@

            @foreach (var item in Model)
            {
                <div class="col-md-offset-2 col-md-10">
                    @if (item.LogoTipo != null)
                    {
                        var base64 = Convert.ToBase64String(item.LogoTipo);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        <img src='@imgSrc' style="max-width:200px; max-height:200px;" />
                    }
                </div>
                <br />

                @* <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
                <div class="form-group">
                    <label asp-for="@item.ClienteId" class="control-label"></label>
                    <input asp-for="@item.ClienteId" name="ClienteId" class="form-control" />
                    <span asp-validation-for="@item.ClienteId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@item.Nome" class="control-label"></label>
                    <input asp-for="@item.Nome" name="Nome" class="form-control" />
                    <span asp-validation-for="@item.Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@item.Email" class="control-label"></label>
                    <input asp-for="@item.Email" name="Email" class="form-control" />
                    <span asp-validation-for="@item.Email" class="text-danger"></span>
                </div>

                <br />

                <br />

                <h4>Logradouro</h4>

                for (int i = 0; i < item.Logradouros.Count; i++)

                {

                    <input asp-for="@item.Logradouros[i].LogradouroId" class="form-control" />


                    <div class="form-group">
                        <label>Nome da Rua</label><br>
                        <input asp-for="@item.Logradouros[i].NomeRua" class="form-control" />
                        @* <input id="@itemx.NomeRua"  type="text" class="form-control /><br> *@
                    </div>

                    <div class="form-group">

                        <label>Número</label><br>
                        @* <input id="Logradouros[0].Numero" name="Logradouros[0].Numero" type="text" class="form-control /><br> *@
                        <input asp-for="@item.Logradouros[i].Numero" class="form-control" />

                    </div>

                    <div class="form-group">

                        <label>Bairro</label><br>
                        @* <input id="Logradouros[0].Bairro" name="Logradouros[0].Bairro" type="text" class="form-control  /><br> *@
                        <input asp-for="@item.Logradouros[i].Bairro" class="form-control" />
                    </div>

                    <br>
                    <br />
                }
            }


            <br />
            <div id="divLogradouro" class="form-group">
            </div>
            <button id="btnAddLogradouro" type="button" class="btn btn-primary">Adicionar</button>

            <button id="removerConteudo" type="button" class="btn btn-danger">Exluir</button>
            <div id="divLogradouro" class="form-group">
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />

            </div>
            <br />
            @* } *@
        </form>

    </div>

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script type="text/javascript">

    $(document).ready(function () {

        $("#btnAddLogradouro").click(function () {
            let i = $('#divLogradouro')[0].childElementCount;
            i++;

            if (i > 2) {

                i--;

                $('#divLogradouro')
                    .append('<br><div name="logradouros">' +
                        '<div class="form-group" id="divLogradouro">' +
                        '<label>Nome da Rua</label></br><input id="Logradouros[' + i + '].NomeRua") name = "Logradouros[' + i + '].NomeRua" type = "text"  class="form-control"/></div>' +
                        '<div class= "form-group"><label>Número</label></br><input id="Logradouros[' + i + '].Numero") name = "Logradouros[' + i + '].Numero" type = "text"  class="form-control"/></div>' +
                        '<div class= "form-group"><label>Bairro</label></br><input id="Logradouros[' + i + '].Bairro") name = "Logradouros[' + i + '].Bairro" type = "text"  class="form-control" /></div><br>');
                $('#divLogradouro').show();


            } else {

                $('#divLogradouro')
                    .append('<br><div name="logradouros">' +
                        '<div class="form-group" id="divLogradouro">' +
                        '<label>Nome da Rua</label></br><input id="Logradouros[' + i + '].NomeRua") name = "Logradouros[' + i + '].NomeRua" type = "text"  class="form-control"/></div>' +
                        '<div class= "form-group"><label>Número</label></br><input id="Logradouros[' + i + '].Numero") name = "Logradouros[' + i + '].Numero" type = "text"  class="form-control"/></div>' +
                        '<div class= "form-group"><label>Bairro</label></br><input id="Logradouros[' + i + '].Bairro") name = "Logradouros[' + i + '].Bairro" type = "text"  class="form-control" /></div><br>');
                $('#divLogradouro').show();

            }

            $("#removerConteudo").click(function () {
                debugger;

                $('#divLogradouro').empty();

            });
        });
    });

    // $('#edicao').DataForm({

    //     "language": {

    //         "url":"//cdn"
    //     }

    // });

    document.querySelector('form').addEventListener('submit', (e) => {
        e.preventDefault()
        const data = Object.fromEntries(new FormData(e.target).entries());
        // console.log(data)
        var jsonx = JSON.stringify(data);
        console.log(jsonx)

        $.ajax({
            type: "POST",
            url: "/Clientes/Edit",
            data: JSON.stringify(data),
            debugger
            success: function (msg) {
                //Qualquer código aqui
            }
        });

    });


    // const formEl = document.getElementById('edicao')

    // // formEl.addEventListener('submit', evento => {
    // //     evento.preventDefault();

    // const formData = new FormData(formEl);
    // const x = Object.fromEntries(formData);
    // debugger;
    // var jsonx = JSON.stringify(x);
    // console.log(json);
    // // console.log(x);

    // $.ajax({
    //     type: "POST",
    //     url: "/Clientes/Edit",
    //     data: jsonx,
    //     dataType: "json",
    //     success: function (msg) {
    //         //Qualquer código aqui
    //     }
    // });

    //                 })




    // });

    // $(document).ready(function () {

    //     $("#btnAddLogradouro").click(function () {
    //         debugger;
    //         let i = $('#divLogradouro')[0].childElementCount;
    //         i++;

    //         $('#divLogradouro')
    //             .append('<div name="logradouros">' +
    //                 '<div class="form-group">' +
    //                 '<label>Nome da Rua</label></br><input id="Logradouros[' + i + '].NomeRua") name = "Logradouros[' + i + '].NomeRua" type = "text" class="form-control"/></div>' +
    //                 '<div class= "form-group"><label>Número</label></br><input id="Logradouros[' + i + '].Numero") name = "Logradouros[' + i + '].Numero" type = "text" class="form-control"/></div>' +
    //                 '<div class= "form-group"><label>Bairro</label></br><input id="Logradouros[' + i + '].Bairro") name = "Logradouros[' + i + '].Bairro" type = "text" class="form-control" /></div>');
    //         $('#divLogradouro').show();
    //     });
    // });


</script>
