@model List<RazorWeb.Models.Cliente>

@{
    ViewData["Title"] = "Editar";
}

<h1>Edit</h1>

<h4>Cliente</h4>
<hr />
<div class="row">

    <div class="col-md-4">
        @* <form asp-action="Edit"> *@
        @using (Html.BeginForm("Editar", "Clientes", FormMethod.Post))
        {

            @foreach (var item in Model)
            {
                <div class="col-md-offset-2 col-md-10">
                    @if (item.LogoTipo != null)
                    {
                        var base64 = Convert.ToBase64String(item.LogoTipo);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        <img src='@imgSrc' style="max-width:200px; max-height:200px;" />
                    }
                </div>
                <br />

                @* <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
                <div class="form-group">
                    <label asp-for="@item.ClienteId" class="control-label"></label>
                    <input asp-for="@item.ClienteId" class="form-control" />
                    <span asp-validation-for="@item.ClienteId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@item.Nome" class="control-label"></label>
                    <input asp-for="[@item.Nome]" id="nome" class="form-control" />
                    <span asp-validation-for="@item.Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@item.Email" class="control-label"></label>
                    <input asp-for="@item.Email" class="form-control" />
                    <span asp-validation-for="@item.Email" class="text-danger"></span>
                </div>

             

                <br />

                <br />

                <h4>Logradouro</h4>

                @foreach (var itemx in item.Logradouros)
                {
                    <div class="form-group">
                        <label asp-for="@itemx.NomeRua" class="control-label"></label>
                        <input asp-for="@itemx.NomeRua" class="form-control" />
                        <span asp-validation-for="@itemx.NomeRua" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@itemx.Numero" class="control-label"></label>
                        <input asp-for="@itemx.Numero" class="form-control" />
                        <span asp-validation-for="@itemx.Numero" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@itemx.Bairro" class="control-label"></label>
                        <input asp-for="@itemx.Bairro" class="form-control" />
                        <span asp-validation-for="@itemx.Bairro" class="text-danger"></span>
                    </div>
                }
            }
            <br />
            <div class="form-group">
                <input type="submit"  class="btn btn-primary" />
@*                 <button id="send">SEND</button>
 *@
            </div>
            <br />
        }
        @* </form> *@

    </div>

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script src="https://code.jquery.com/jquery-1.9.1.js">

    $('#send').click(function () {
        break;

        
       var nome = $("#nome").val();



            $.ajax({
            contentType: 'application/json; charset=utf-8',
            type: 'POST',
            url: '/Clientes/Editar',
            dataType: "json",
            success: function (nome) {


    },
        });
    });

</script>
