@model List<RazorWeb.Models.Cliente>

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Cliente</h4>
<hr />
<div class="row">

    <div class="col-md-4">
        @* <form asp-action="Edit"> *@
        @using (Html.BeginForm("Edit", "Clientes", FormMethod.Post))
        {           
      
            @foreach (var item in Model)
            {
                @* <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
                <div class="form-group">
                    <label asp-for="@item.ClienteId" class="control-label"></label>
                     <input asp-for="@item.ClienteId" value="@item.ClienteId" id="clienteId" class="form-control" /> 
                    <span asp-validation-for="@item.ClienteId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@item.Nome" class="control-label"></label>
                    <input asp-for="@item.Nome" id="@item.Nome" class="form-control" />
                    <span asp-validation-for="@item.Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@item.Email" class="control-label"></label>
                    <input asp-for="@item.Email" class="form-control" />
                    <span asp-validation-for="@item.Email" class="text-danger"></span>
                </div>

                <br />

                <br />

                <h4>Logradouro</h4>

                @foreach (var itemx in item.Logradouros)
                {
                    <div class="form-group">
                        <label asp-for="@itemx.NomeRua" class="control-label"></label>
                        <input asp-for="@itemx.NomeRua" class="form-control" />
                        <span asp-validation-for="@itemx.NomeRua" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@itemx.Numero" class="control-label"></label>
                        <input asp-for="@itemx.Numero" class="form-control" />
                        <span asp-validation-for="@itemx.Numero" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@itemx.Bairro" class="control-label"></label>
                        <input asp-for="@itemx.Bairro" class="form-control" />
                        <span asp-validation-for="@itemx.Bairro" class="text-danger"></span>
                    </div>
                }
            }
            <br />
            <div class="form-group">
                <input type="submit"  class="btn btn-primary" />
            </div>
            <br />
        }
        @* </form> *@

    </div>

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script>
    function Editar(){


        var clieteId = $("#clieteId").val();

        var url ="/Clientes/Edit" 

        $.ajax{

            url:url,

                data : { clieteId }
                , type: "Post"
                , datatype:"html"
                , sucess: function(data) {


                }

        }
    });
</script>
